body{
    margin: 0%;
    padding: 0%;
}

.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 10px 90px;
  box-sizing: border-box;
  background: black;
  display: flex;
  color: white;
}
.navbar .realme{
  font-size: 25px;
  margin-top: 3px;
  margin-left: 0px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navbar ul{
  display: flex;
  position: relative;
  font-size: 13px;
  font-weight: 500;
  list-style: none;
  text-decoration: none;
  margin-left: 35px;
  margin-top: 15px;
  padding: 0px;
  gap: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.list1 li{
  float: left;
  margin-left:0px;
}
.navbar .list2{
  float: right;
  margin-left: 192px;
}
.list2 ul{
  margin-left: -15px;
}
.navbar .new-launch{
  color: orange;
}
.search-box {
  width: 135px;
  height: 27px;
  padding:0px 12px;
  margin-left: 18px;
  margin-top: 10px;
  border: none;
  border-radius: 14px;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.2);
}
.search i{
  margin-left: -25px;
  font-size: 13px;
}
.logo{
  height: 28px;
  margin-left: 30px;
  margin-top: 10px;
}
  .main-div{
    width: 100%;
    height: 591px; 
    display: flex;
    background-image: url('./assets/images/img1.webp'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    color: white; 
  }
  .main-div .content1{
    margin-top: 130px;
  }
  .maindiv-button{
   margin-top: 120px !important;
  }
  .second-div{
    height: 591px; 
    display: flex;
    background-image: url('./assets/images/img2.webp'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    color: white; 
    margin-top: 11px;
  }
  .third-div{
    height: 591px; 
    display: flex;
    background-image: url('./assets/images/img3.webp'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    color: white; 
    margin-top: 11px;
  }
  .fourth-div{
    height: 591px; 
    display: flex;
    background-image: url('./assets/images/img4.webp'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    color: white; 
    margin-top: 11px;
  }
  .content{
    align-items: start;
    text-align: start;
    margin-left: 140px;
    margin-top: 110px;
  }
  .first-heading{
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 16px;
  }
  .first-para{
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .content img{
    height: 40px;
  }
  .button{
    margin-top: 150px;
  }
  .button1{
    margin: 0px 20px 0px 0px;
    padding:0px 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    width: 130px;
    height: 35px;
    border-radius: 20px;
  }
  .button1 a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .button2{
    margin: 0px 20px 0px 0px;
    padding:0px 20px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 130px;
    height: 35px;
    border-radius: 20px;
  }
  .button2 a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .button1:hover{
    background-color: white;
  }
  .button .button1 :hover{
    color: black;
  }
  .button2:hover{
    background-color: rgba(255, 255, 255, 0.2);
  }
  .fifth-div{
    margin-top: 11px;
    display: flex;
  }
  .subdiv1{
    height: 425px; 
    width: 50%;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('./assets/images/img5.webp'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    color: black; 
  }
  .subdiv2{
    height: 425px; 
    width: 50%;
    margin-left: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('./assets/images/img6.webp'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    color: black; 
  }
  .sixth-div{
    margin-top: 11px;
    display: flex;
  }
  .subdiv3{
    height: 425px; 
    width: 50%;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('./assets/images/img7.webp'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    color: black; 
  }
  .subdiv4{
    height: 425px; 
    width: 50%;
    margin-left: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('./assets/images/img8.webp'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    color: black; 
  }
  .seventh-div{
    margin-top: 11px;
    display: flex;
  }
  .subdiv5{
    height: 425px; 
    width: 50%;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('./assets/images/img9.webp'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    color: white; 
  }
  .subdiv6{
    height: 425px; 
    width: 50%;
    margin-left: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('./assets/images/img10.webp'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    color: white; 
  }
  .second-heading{
    font-size: 30px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px 0px 16px;
    margin-bottom: 16px;
    margin-top: 40px;
  }
  .second-para{
    font-size: 18px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px 0px 14px;
  }
  .secondlast-footer{
    height: 90px;
    display: flex;
    justify-content: space-aroun;
    margin-top: 80px;
    margin-bottom: 70px;
  }
  .details{
    background: #f9f9f9;
    width: 280px;
    height: 120px;
    margin-bottom: 20px;
    margin-left: 20px;
    border-radius: 16px;
  }
  .details1{
    margin-left: 100px;
  }
  .contents{
    margin-left: 15px;
  }
  .contents img{
    margin-top: 19px;
    width: 30px;
  }
  .contents h3{
    margin-top: 0px;
    font-size: 16px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .contents p{
    margin-top:-17px;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .main-footer{
    width: 100%;
    height: 398px;
    background-color: #201e1e;
  }
  .footer{
    display: flex;
  }
  .footer-divs{
    width: 215px;
    height: 238px;
  }
  .footer-div1{
    margin-left: 95px;
  }
  .footer-div2{
    margin-left: 100px;
  }
  .footer-ul{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(255, 255, 255, .6);
  }
  .footer-ul li{
    margin-top: 10px;
  }
  .footer-ul li:hover{
    color: white;
  }
  .footer-divs h3{
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin-top: 40px;
  }
  .chatsupport{
    background-color: white;
    border-radius: 21px;
    width: 150px;
    margin-top: 50px;
    padding: 8px;text-align: center;
    font-size: 14px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .headset{
    font-size: 20px;
    margin-right: 10px;
  }
  .date{
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(255, 255, 255, .6);
    margin-bottom: 0px;
  }
  .footer-divs h2{
    color: white;
    font-size: 24px;
    margin-top: 0px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .logos{
    
  }
  .logo{
    font-size: 25px;
    color: white;
    opacity: .7;
    margin-left: 20px;
  }
  .hr{
    width: 1170px;
    margin-left: 90px;
    margin-top: 40px;
    height: 0.5px;
    border: none;
    background-color:rgba(255, 255, 255, .6);
    opacity: .3;
  }
  .lastdiv{
    display: flex;
  }
  .lastp1, .lastp2{
    color: #6a6a6a;
    font-size: 12px;
  }
  .lastp1{
    margin-left: 90px;
  }
  .lastp2{
    margin-left: 220px;
  }
  .lastspan{
    color: white;
    opacity: .7;
    margin-right: 20px;
  }

  

  
